.projects {
  padding-top: 5em;
  padding-bottom: 3em;
}

.subheading {
  margin-top: 1em;
  margin-bottom: 2em;
}

.projectName {
  font-weight: 600;
  margin-bottom: 1em;
}

.projectDescription {
  font-size: 0.9em;
}

.projectLinks {
  display: flex;
  margin-top: 1em;
}

.projectLinks li {
  margin-right: 1em;
}

.projectImg {
  box-shadow: 0 3px 4px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 2em;
}


@media screen and (min-width: 922px) {
  .projectImg {
    margin-right: 2em;
  }

  .projectAbout {
    margin-right: 2em;
  }
}