:root {
  --primary-dark: #222527;
  --secondary-dark: #515151;
  --primary-light: #fcfcfc;
  --secondary-light: #f5f5f5;
  --accent: #0dab76;
  --max-content-width: 1024px;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 -1px 0 0 var(--accent);
}

a:hover {
  color: var(--primary-light);
  box-shadow: inset 0 -50px 0 0 var(--accent);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--primary-dark);
}

h4,
h5,
h6 {
  color: var(--secondary-dark);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h5 {
  font-size: 1.5em;
  text-decoration: underline;
}

p {
  color: var(--secondary-dark);
  line-height: 2em;
}

.logo {
  font-size: 2em;
  color: var(--accent);
  box-shadow: none;
}

.logo:hover {
  box-shadow: none;
  color: var(--accent);
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
