:root {
  --primary-dark: rgb(34, 37, 39);
  --secondary-dark: rgb(81, 81, 81);
  --primary-light: rgb(252, 252, 252);
  --secondary-light: rgb(245, 245, 245);
  --accent: #0dab76;
  --max-content-width: 1100px;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: box-shadow 0.2s;
  box-shadow: inset 0 -1px 0 0 var(--accent);
}

a:hover {
  color: var(--primary-light);
  box-shadow: inset 0 -50px 0 0 var(--accent);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--primary-dark);
}

h4,
h5,
h6 {
  color: var(--secondary-dark);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h5 {
  font-size: 1.5em;
  text-decoration: underline;
}

p {
  color: var(--secondary-dark);
  line-height: 2em;
}


.row {
  display: flex;
  flex-direction: row;
}

.reversed-row {
  display: flex;
  flex-direction: row-reverse;
}

.col {
  width: 100%;
}

@media screen and (max-width: 922px) {
  .row {
    flex-direction: column;
  }

  .reversed-row {
    flex-direction: column;
  }
}