.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 100%;
}

.about {
  padding-top: 10em;
  padding-bottom: 2em;
}

.description {
  padding-top: 2.5em;
}


@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .about {
    padding-top: 4em;
  }
}

.introText {
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

.name {
  font-size: 3em;
  line-height: 1.5em;
}